<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Ferme des tilleuls | Formulaire de commande</title>
    <meta name="description" content="Formulaire de commande">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="static/css/milligram.min.css">
</head>

<body>
    <section id="order" class="container">
        <h3 class="title">Bon de commande</h3>

        <p> Ce formulaire est en phase de test pour le moment ! </p>

        <form id="form-order" action="order" method="POST">

            {{!-- The content of the form --}}
            <fieldset>
                <legend>Contenu</legend>

                {{#each categories}}
                <h2>{{title}}</h2>

                {{#each items}}
                <label for="item_{{@../index}}_{{@index}}">{{title}} ({{unit}})</label>
                <input type="number" placeholder="0" id="item_{{@../index}}_{{@index}}"
                    name="item_{{@../index}}_{{@index}}" value="0">
                {{/each}}
                {{/each}}
            </fieldset>

            {{!-- Nom --}}
            <fieldset>
                <legend>Coordonnées</legend>
                <label for="nameField">Nom</label>
                <input type="text" placeholder="Nom" id="nameField" name="firstName">
                {{!-- Prénom --}}

                <label for="firstNamefield">Prénom</label>
                <input type="text" placeholder="Prénom" id="firstNamefield" name="lastName">

                {{!-- Adress --}}
                <label for="adressField">Adresse</label>
                <textarea type="" placeholder="Adresse" id="adressField" name="address"></textarea>

                <label for="phoneField">Téléphone</label>
                <input type="text" placeholder="Téléphone" id="phoneField" type="tel" name="phone">

            </fieldset>
            {{!-- <input class="button-primary" id="order-submit" type="submit" value="Envoyer"> --}}
            <button>Send my greetings</button>
        </form>
    </section>
</body>

</html>